<!--    
    fadil@xcoder.dvlpr

        ¯\_(ツ)_/¯ 
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SF6 - SQLite - MongDB</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    </head>
    <body>
        <main class="container">
            <p><br>
            - `php bin/console dba:cache:init` - DBA<br><br>
            - `php bin/console app:mongo:init` - Write new data in MongoDB<br><br>
            - `php bin/console app:mongo:init clear` - Clear and  Write new data in MongoDB<br><br>
            - `php bin/console app:mongo:find` - Find all entry in MongoDB<br><br>
            - `php bin/console app:mongo:find 645e6f7d0429d100de0c5a77` - Find one entry in MongoDB<br><br>
            </p>
        </main>
    </body>
</html>